/*Whole page
*scroll smoothly
*font family and color
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 600;
  background: #f5f5f5;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: "Source Serif Pro";
  letter-spacing: -1px;
  word-spacing: 2px;
}

a:hover {
  cursor: pointer;
}

.logo-pic {
  margin: 0 auto;
  padding: 5vh;
  width: 60vw;
}

.section {
  margin: 0 auto;
  width: auto;
  line-height: 25px;
  border-bottom: 5px solid #3f0017;
  padding: 50px;
}

.title {
  padding: 10px;
  width: 165px;
}

a {
  text-decoration: none;
}

.book-now {
  color: white;
  text-decoration: underline;
}

.gift-card {
  color: #3f0017;
  text-decoration: underline;
}

/* PINK GRADIENT 
  background-image: linear-gradient(
    to right,
    #b6887a 0,
    #cea699 22%,
    #e4c1b6 45%,
    #e6cbc4 50%,
    #cea699 78%,
    #b6887a 100%
  );
  color: transparent;
  -webkit-background-clip: text;
*/

/*Making header centered
  *font family for header
  *added background to header
  */
header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  padding: 1vh;
  list-style: none;
  margin: 0 auto;
  max-width: 1200px;
}

.nav-a {
  text-decoration: none;
  position: relative;
  font-size: 16px;
  letter-spacing: 0px;
  color: #3f0017;
}

.nav-a::before {
  content: "";
  visibility: hidden;
  transform: scaleX(0);
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #810020;
  transition: all 0.5s ease-in-out 0s;
}

.nav-a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/*SECTION 1 BOXES/FORM
  *change button sizes
  *button color background
  *box shadow and radius
  *add transition/transform
  *to scale when you hover
  */

#welcome {
  border-top: 5px solid #3f0017;
  background: #3f0017;
  text-align: center;
}

#welcome-div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  line-height: 35px;
  text-align: center;
  color: white;
}

/*SECTION 2 SERVICES*/

#services {
  padding: 5vh;
  display: flex;
  justify-content: center;
}

.services-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh;
  justify-content: center;
  transform: scale(1);
  position: relative;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.services-box:hover {
  animation: pulse 1s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.row-1 {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  width: 80vw;
}

.row-2 {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
  width: 80vw;
}

.services-img {
  border-radius: 50%;
  height: 250px;
  width: 300px;
  filter: blur(3.5px);
  transition: 0.5s ease-in-out;
}

.services-img:hover {
  filter: none;
}

.services-h3 {
  position: absolute;
  z-index: 100;
  letter-spacing: 0px;
}

.services-link {
  color: black;
}

/*SECTION 3 instagram*/
.elfsight-app-2280f0fc-d6dc-46dd-81ff-59eb4624caef {
  padding: 1.5vh;
}

#insta-feed {
  background: #080808;
}

/*SECTION 4 REVIEWS*/

/*SECTION 5 CONTACT*/

#contact {
  color: white;
  background: #3f0017;
}

#contact-title {
  padding-left: 40px;
}

.contact-div {
  display: flex;
  justify-content: space-evenly;
  padding: 1vh;
  margin: 0 auto;
}

.contact-p {
  padding: 10px;
  font-size: 24px;
}

.contact-link {
  color: white;
}

i {
  transform: scale(1.3);
  padding: 0px 5px;
  color: white;
}

.contact-link:hover {
  color: black;
}

/*FOOTER*/

footer {
  text-align: left;
  color: black;
  font-size: 12px;
}

#footer {
  padding: 0px;
}

/*MEDIA QUERY BIG/LAPTOP SCREENS*/

@media only screen and (min-width: 2100px) {
  .section {
    width: 100%;
  }

  .section-div {
    width: 55vw;
    margin: 0 auto;
  }

  #welcome-img {
    padding: 20px;
  }
  .services-img {
    height: 250px;
    width: 300px;
  }

  .logo-pic {
    width: 700px;
    height: 350px;
  }

  .title,
  .welcome-title {
    transform: scale(1.3);
  }

  .footer-p {
    font-size: 12px;
  }
}

/*MEDIA QUERY TABLET SCREEN*/

@media only screen and (max-width: 1100px) {
  /*MEDIA TABLET GENERAL*/
  body {
    font-size: 16px;
  }

  .logo-pic {
    width: 500px;
    height: 250px;
  }

  .title,
  .welcome-title {
    max-width: 100vw;
  }
  /*MEDIA TABLET NAV*/
  .nav-a {
    font-size: 14px;
  }
  /*MEDIA TABLET SERVICES*/
  .services-img {
    height: 125px;
    width: 175px;
  }
  .services-h3 {
    font-size: 18px;
  }
  /*MEDIA TABLET CONTACT*/
  .contact-p {
    font-size: 18px;
  }

  .contact-link {
    font-size: 16px;
  }
}

/*MEDIA QUERY CELL PHONES*/

@media only screen and (max-width: 750px) {
  /*MEDIA PHONE GENERAL*/
  body {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .section {
    padding: 10px 0px;
    width: 100%;
  }

  .logo-pic {
    max-width: 100vw;
    height: 100px;
    padding: 0px;
  }

  .section-p {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    color: white;
  }

  /*MEDIA PHONE NAV BAR*/
  .nav-ul {
    width: 100%;
  }

  .nav-a {
    font-size: 12px;
  }

  /*MEDIA PHONE HOME*/
  .xoxosofia {
    height: 100px;
    max-width: 315px;
  }

  /*MEDIA PHONE SERVICES*/
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  .services-img:hover {
    filter: blur(3.2px);
  }

  .row-1,
  .row-2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .services-img {
    height: 150px;
    width: 200px;
  }

  .services-link {
    font-size: 18px;
  }
  /*MEDIA PHONE INSTAGRAM*/

  /*MEDIA PHONE FEEDBACK*/

  /*MEDIA PHONE CONTACT*/
  .contact-div {
    display: flex;
    flex-direction: column;
  }

  .contact-line {
    padding: 10px;
  }

  .contact-p {
    font-size: 18px;
  }

  .contact-link {
    font-size: 16px;
  }

  i {
    transform: scale(1);
  }
  /*MEDIA PHONE FOOTER*/
  #footer {
    font-size: 12px;
  }
}
