/*Whole page
*scroll smoothly
*font family and color
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: ;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 600;
  background: white;
  text-align: center;
  color: black;
  font-size: 20px;
}

a:hover {
  cursor: pointer;
}

.logo-pic {
  margin: 0 auto;
  padding: 5vh;
  width: 465.5px;
}

.section {
  margin: 0 auto;
  width: auto;
  letter-spacing: 1px;
  line-height: 25px;
  border-bottom: 5px solid #9093a5;
  padding: 50px;
}

.title {
  font-family: "Amalfi Coast";
  padding: 50px;
  font-size: 40px;
  color: white;
  background-image: linear-gradient(
    to right,
    #b6887a 0,
    #cea699 22%,
    #e4c1b6 45%,
    #e6cbc4 50%,
    #cea699 78%,
    #b6887a 100%
  );
  color: transparent;
  -webkit-background-clip: text;
}

a {
  text-decoration: none;
}

/*Making header centered
  *font family for header
  *added background to header
  */
header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-ul {
  display: flex;
  justify-content: space-evenly;
  padding: 1vh;
  list-style: none;
}

.nav-a {
  font-family: "Raleway";
  text-decoration: none;
  position: relative;
  font-size: 16px;
  color: white;
  background-image: linear-gradient(
    to right,
    #b6887a 0,
    #cea699 22%,
    #e4c1b6 45%,
    #e6cbc4 50%,
    #cea699 78%,
    #b6887a 100%
  );
  color: transparent;
  -webkit-background-clip: text;
}

.nav-a::before {
  content: "";
  visibility: hidden;
  transform: scaleX(0);
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    #b6887a 0,
    #cea699 22%,
    #e4c1b6 45%,
    #e6cbc4 50%,
    #cea699 78%,
    #b6887a 100%
  );
  transition: all 0.3s ease-in-out 0s;
}

.nav-a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/*SECTION 1 BOXES/FORM
  *change button sizes
  *button color background
  *box shadow and radius
  *add transition/transform
  *to scale when you hover
  */

#boxes {
  border-top: 5px solid #9093a5;
  background: #9093a5;
  text-align: center;
}

#box-form-div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 40vh;
  line-height: 35px;
  text-align: center;
  color: white;
}

#form-button {
  font-size: 30px;
  font-family: "Amalfi Coast";
  text-decoration: none;
  color: white;
  padding: 3vh;
}

#form-button:hover {
  text-decoration: underline;
}

/*SECTION 2 SERVICES*/

#services {
  padding: 5vh;
  display: flex;
  justify-content: center;
  background: white;
}

#services-title {
  padding: 50px;
}

.services-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh;
  justify-content: center;
  transform: scale(1);
  position: relative;
  text-align: center;
}

.services-box:hover {
  animation: pulse 1s ease-in-out;
  filter: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.row-1 {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  width: 80vw;
}

.row-2 {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
  width: 80vw;
}

.services-img {
  border-radius: 50%;
  height: 250px;
  width: 300px;
  transition: 0.5s ease-in-out;
  filter: blur(3.5px);
}

.services-h3 {
  font-family: "Amalfi coast";
  position: absolute;
  z-index: 100;
}

.services-link {
  color: black;
}

/*SECTION 3 instagram*/

.elfsight-app-2280f0fc-d6dc-46dd-81ff-59eb4624caef {
  font-weight: 600;
  padding: 1.5vh;
  text-transform: uppercase;
  color: white;
  background-image: linear-gradient(
    to right,
    #b6887a 0,
    #cea699 22%,
    #e4c1b6 45%,
    #e6cbc4 50%,
    #cea699 78%,
    #b6887a 100%
  );
  color: transparent;
  -webkit-background-clip: text;
}

#insta-feed {
  background: black;
}

/*SECTION 4 REVIEWS*/

#testimonials {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#testimonials-title {
  padding: 3vh;
}

.yelp-reviews {
  height: 233.854px;
  width: 675.99px;
  margin: 5vh;
}

.review-button {
  padding: 5vh;
}

/*SECTION 5 CONTACT*/

#contact {
  color: black;
  background: white;
}

#logo-div {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 80vw;
  padding: 80px 0;
}

#contact-p {
  color: white;
  height: 80px;
  width: 40vw;
  padding: 1.5vw;
  color: black;
}

.contact-logo {
  color: white;
  text-align: left;
  height: 80px;
  padding: 1.5vw;
  font-size: 25px;
}

i {
  transform: scale(1.5);
  padding: 0px 10px;
  color: white;
  background-image: linear-gradient(
    to right,
    #b6887a 0,
    #cea699 22%,
    #e4c1b6 45%,
    #e6cbc4 50%,
    #f2e9e6 65%,
    #cea699 78%,
    #b6887a 100%
  );
  color: transparent;
  -webkit-background-clip: text;
}

.contact-link {
  color: black;
}

.contact-link:hover {
  color: #9093a5;
}

/*FOOTER*/

.footer {
  text-align: left;
  color: #e9d2b1;
  color: black;
  padding: 10px;
}

/*MEDIA QUERY BIG SCREENS*/

@media only screen and (min-width: 2200px) {
  .services-img {
    height: 450px;
    width: 500px;
  }

  #book-me {
    padding: 2vh 0px;
  }

  #logo-div {
    justify-content: space-evenly;
  }
}

/*MEDIA QUERY SMALL SCREEN*/

@media only screen and (max-width: 1030px) {
  .services-img {
    height: 150px;
    width: 200px;
  }
}

/*MEDIA QUERY SMALLLLL&CELL PHONES*/

@media only screen and (max-width: 450px) {
  body {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
  }

  .nav-ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20vh;
  }

  .title {
    line-height: 40px;
  }

  .services-div {
    display: flex;
    flex-direction: column;
  }

  .row-1,
  .row-2 {
    display: flex;
    flex-direction: column;
  }
  .services-img {
    height: 30vh;
    width: 60vw;
  }

  .yelp-reviews {
    width: 90vw;
  }
}
